{#
/**
 * @file
 * Default theme implementation to display a block.
 *
 * Available variables:
 * - plugin_id: The ID of the block implementation.
 * - label: The configured label of the block if visible.
 * - configuration: A list of the block's configuration values.
 *   - label: The configured label for the block.
 *   - label_display: The display settings for the label.
 *   - provider: The module or other provider that provided this block plugin.
 *   - Block plugin specific settings will also be stored here.
 * - content: The content of this block.
 * - attributes: array of HTML attributes populated by modules, intended to
 *   be added to the main container tag of this template.
 *   - id: A valid HTML ID and guaranteed unique.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - content_attributes: Same as attributes, except applied to the main content
 *   tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 *
 * @see template_preprocess_block()
 *
 * @ingroup themeable
 */
#}
{%
  set classes = [
  'block',
  'block-' ~ configuration.provider|clean_class,
  'block-' ~ plugin_id|clean_class,
]
%}


<div{{ attributes.addClass(classes) }}>
  {% block content %}
    <div{{ content_attributes.addClass('content') }}>
      <div class="views-element-container contextual-region block block-views block-views-blockproject-tasks-block-1" id="block-views-block-project-tasks-block-1">
        <h2>Te betalen</h2>
        <div class="contextual-region view view-project-tasks view-id-project_tasks view-display-id-block_1 js-view-dom-id-320720f234cbc2c278db7f9c982157c668019efb49de9cf86e65b4d8002ee771">
          <div class="view-content">
            <table class="views-table views-view-table cols-8">
              <thead>
              <tr>
                <th class="views-field" scope="col">Prijs gepresteerde uren</th>
                <th class="views-field" scope="col">Prijs van de gereden kilometers</th>
                <th class="views-field" scope="col">Totale prijs</th>
              </tr>
              </thead>
              <tbody>
              <tr class="views-field">
                <td>€{{ content.work }}</td>
                <td>€{{ content.transport }}</td>
                <td>€{{ content.total }}</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    </div>
  {% endblock %}
</div>
